In [10]:
import pandas as pd
import os
import numpy as np

In [12]:
filename='breast-cancer-wisconsin.csv'
dataset = pd.read_csv(filename)
dataset.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,class
0,5,1,1,1,2,1,3,1,1,class1
1,5,4,4,5,7,10,3,2,1,class1
2,3,1,1,1,2,2,3,1,1,class1
3,6,8,8,1,3,4,3,7,1,class1
4,4,1,1,3,2,1,3,1,1,class1

In [16]:
# Replace missing attribute values "?" to np.nan
dataset=dataset.replace("?",np.nan)
dataset.feature=dataset.

<class 'float'>

In [ ]:
from sklearn.impute import SimpleImputer